.dropdown-item:hover {
  background-color: black;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
span::selection,
input::selection,
textarea::selection,
label::selection,
legend::selection,
img::selection {
  background-color: black !important;
  color: rgb(120, 120, 120);
}

:disabled {
  cursor: no-drop;
  background-color: #3c444c !important;
}

a::selection {
  background-color: black;
  color: rgb(120, 160, 255);
}

br::selection {
  background-color: transparent;
}

.form-control,
.form-control:focus {
  background-color: rgb(75, 85, 95);
}

.alert {
  position: fixed;
  width: 20%;
  right: 20px;
  top: 20px;
}

.alert-danger {
  background-color: rgba(225, 100, 100, 0.4);
}

.alert-success {
  background-color: rgba(100, 225, 100, 0.4);
}

.transition-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.transition-fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 300s, opacity 300ms;
}

label[for="ignore-blocked-phone"]:focus,
label[for="ignore-blocked-phone"]::selection,
input[type="checkbox"]:focus input[type="checkbox"]::selection {
  background-color: transparent !important;
  color: white;
  pointer-events: none !important;
}

img {
  pointer-events: none;
}

a.text-info:hover {
  text-decoration: none;
}